{% extends 'base.html' %}

{% block title %}
Достижения
{% endblock %}

{% block body %}
<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="me-2" viewBox="0 0 118 94" role="img"></svg>
        <span class="fs-4"><- Выйти</span>
      </a>
      <h1 ><font size="10"> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;HARMLESS</font></h1>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/tests/{{ id }}">Главная страница</a>
      </nav>
    </div>
<div class="conteiner mt-5">
    <h1>Достижения</h1>
    {% if user.desk1 == 0 %}
    <div class="alert alert-dark">
        <h2>Скрыто</h2>
        <h6>Скрыто</h6>
    </div>
    {% endif %}
    {% if user.desk1 == 1 %}
    <div class="alert alert-success">
        <h2>Дальняя родственница</h2>
        <h6>Выбрать дальнюю родственницу мошенницей</h6>
    </div>
    {% endif %}
    {% if user.desk2 == 0 %}
    <div class="alert alert-dark">
        <h2>Скрыто</h2>
        <h6>Скрыто</h6>
    </div>
    {% endif %}
    {% if user.desk2 == 1 %}
    <div class="alert alert-success">
        <h2>Пароль</h2>
        <h6>Скажи честно, у тебя тот же пароль что ты ответил в задании "Что? Где? Когда?"?</h6>
    </div>
    {% endif %}
    {% if user.desk3 == 0 %}
    <div class="alert alert-dark">
        <h2>Скрыто</h2>
        <h6>Скрыто</h6>
    </div>
    {% endif %}
    {% if user.desk3 == 1 %}
    <div class="alert alert-success">
        <h2>Красивая обертка</h2>
        <h6>Утвердить что сотрудник Главного Управления МВД России не мошенник</h6>
    </div>
    {% endif %}
    <div class="alert alert-dark">
        <h2>Скрыто</h2>
        <h6>Скрыто</h6>
    </div>
    {% if user.desk5 == 0 %}
    <div class="alert alert-dark">
        <h2>Скрыто</h2>
        <h6>Скрыто</h6>
    </div>
    {% endif %}
    {% if user.desk5 == 1 %}
    <div class="alert alert-success">
        <h2>Настоящая дружба</h2>
        <h6>Ответить на 10 вопрос в игре "Сейф" - Посоветоваться с другом(P.S. Автор - я бы сделал также)</h6>
    </div>
    {% endif %}
    {% if user.answer != 30 %}
    <div class="alert alert-dark">
        <h2>Скрыто</h2>
        <h6>Скрыто</h6>
    </div>
    {% endif %}
    {% if user.answer == 30 %}
    <div class="alert alert-success">
        <h2>Гениальный гений</h2>
        <h6>Достичь результата в 30 баллов</h6>
    </div>
    {% endif %}
</div>
{% endblock %}