{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="conteiner mt-5">
    <img src="/static/images/images.png" width="75px" height="80px">
    <h1>Регистрация</h1>
    <form method="post">
        <h6><input type="text" name="name1" id="name1" class="form-control" placeholder="Введите имя" required><br></h6>
        <h6><input type="text" name="name2" id="name2" class="form-control" placeholder="Введите фамилию" required><br></h6>
        <h3>Укажите возраст</h3>
        <input type="number" id="old" name="old" min="7" max="100"><br>
        <h1><input type="submit" class="btn btn-success" value="Сохранить"></h1>
    </form>
</div>
{% endblock %}